#navigation {
	background: url(corporate-dark/navs.png) no-repeat!important;
}

ul#nav li.selected, ul#nav li.current_page_item {
	background: url(corporate-dark/leftbar.png) no-repeat left center!important;
}
ul#nav li.selected a, ul#nav li.current_page_item a {
	background: url(corporate-dark/rightbar.png) no-repeat right center!important;
}
#post-entry h2.widgettitle {
	background: url(corporate-dark/longbar.png) no-repeat!important;
}
#center-column h2.widgettitle {
	background: url(corporate-dark/mediumbar.png) no-repeat!important;
}
#right-column h2.widgettitle {
	background: url(corporate-dark/shortbar.png) no-repeat!important;
}


#userbar #meprofile {
    background: url(corporate-dark/side.png) repeat-x!important;

}